<!DOCTYPE html>
<html lang="en">
  <head>
    <title>exia example</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="/public/css/main.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1 class="center">exia example</h1>
      <div class="input">
        <input type="text" name="url" id="url">
        <button type="button" id="btn">query</button>
      </div>
      <div class="output">
        <pre><code class="code">
        </code></pre>
      </div>
    </div>
    <script src="/public/js/index.js"></script>
  </body>
</html>
