{
  "extends": "eslint-config-egg",
  "rules": {
    "semi": ["error", "never"],
    "comma-dangle": ["error", "never"],
    "strict": ["error", "never"]
  },
  "globals": {
    "app": true,
    "request": true,
    "mm": true,
    "mock": true,
    "assert": true
  }
}
